
body{
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
    margin: 0;
    background-color: #eeebda;
}
h1, h2, h3{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0;
}
img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}
.wrapper{
    width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#site-header{
    display: inline;

}
#site-header div{
    text-align: center;
    padding: 60px 0 120px 0;
    font-size: 4em;
    background-image: url("img/header-img.jpg");
    background-size: cover;
    background-position: right bottom;

}
#site-header div h1,
#site-header div h3{
    margin: 0;
    line-height: 1;
    position: relative;
}
#site-header div h1{
    top: 20px;
}
#site-header div h3{
    font-family: 'Dancing Script';
    color: white;
    bottom: 20px;
    text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );

}

#main-navigation{
  width: 1000px;
    display: flex;
    background: #444;
    justify-content: flex-end;
}

#main-navigation a{
    display: flex;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    justify-content: space-between;
    flex-basis: 10%;
}

#main-navigation #logo{
    display: flex;
    margin-right: 400px;





    /*
        TODO:
        - Flexbox - The logo needs to take up more space
        that the other links
    */
}
main{
    padding: 20px;
    background-color: #444;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    flex-basis: 60%;
    position: relative;
    top: -60px;

aside{
    padding: 20px;
    background-color: #eee;
    box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3 );
    flex-basis: 20%;
    position: relative;
    top: -60px;

aside h3{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
aside img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid white;
}
article{
    background-color: white;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    padding: 20px;
    margin-bottom: 20px;

}
article h2{
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
article time{
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #666;
}
article img{
    display: flex;
    float: right;
    width: 30%;
    padding-bottom: 10px;
    float: right;

}
article footer p{
    text-transform: uppercase;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-bottom: -10px;
    line-height: 3em;
    font-size: .8em;

}
#site-footer{
    display: flex;
    justify-content: center;
    color: white;
    background: #333;

}
